<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">


            <a ui-sref="home">Home page</a> / <a ui-sref="second">Second page</a>
            <hr />


            <ul>
                <li ng-repeat="dog in dogs">{{ dog }}</li>
            </ul>

            <h3>courses</h3>
            <ul>
                <li ng-repeat="course in courses">{{ course.name }}</li>
            </ul>




            <!--    <h3>Scotch Ctrl</h3>

            <ul>
                <li ng-repeat="course in courses">{{ scotches.name }}</li>
            </ul> -->



            <h2>Tweet Trends in US</h2>
            <ul>
                <li>tweet 1</li>
                <li>tweet 2</li>
            </ul>
            <hr />Here is a var from the Auth service2:
            <br />
            <strong>{{auth.getValue()}}</strong>

            <br />
            <br />

            <button ng-click="auth.setValue('Something else');">Click to change service var value</button>

            <hr />

            <h3>An example directive</h3>

            <example-directive></example-directive>





        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="panel panel-primary">
                        <div class="panel-heading text-center">New Courses</div>
                        <div class="panel-body">
                            <div ng-repeat="course in courses | orderBy:'published':true | limitTo:10" class="row">
                                <div class="col-md-3">{{course.published | date:'MMM d'}}</div>
                                <div class="col-md-9">{{course.name}}</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center">Featured Courses</div>
                        <div class="panel-body">
                            <div ng-repeat="course in courses | filter:{featured:true}" class="row">
                                <div class="col-md-12">{{course.name}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>







        </div>
    </div>
</div>
